body {
    font-family: sans-serif;
}
h1{
    font-size: 60px;
    text-align: center;
    text-shadow: 5px 3px 6px;
    color:indigo;
}
main{
    background-color:aliceblue ;
    border: 4px solid indigo;
    color:indigo;
    text-shadow: 5px 3px 6px;
}
header{
    background-color: aliceblue;
}
footer{
    background-color: aliceblue;
}
